<h1>Review#new</h1>
<p>Find me in app/views/reviews/new.html.erb</p>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.label :rating %>
  <%= f.text_field :rating %>
  <%= f.submit %>
<% end %>
